<%- include("./includes/head") %> <%- include("./includes/nav") %>
<div class="container my-5">
  <h1 class="display-1 text-center">Erro 404</h1>
  <h1 class="display-6 text-center">
    O que você estava buscando não foi encontrado
  </h3>
  <div class="d-grid gap-2 col-6 mx-auto">
    <a href="/" class="btn btn-primary btn-lg mt-4">Retornar para a página principal</a>
  </div>
</div>
<%- include("./includes/footer") %>
